/*
* @Author: wen-sr
* @Date:   2017-08-19 16:09:27
* @Last Modified by:   wen-sr
* @Last Modified time: 2017-08-19 16:32:41
*/
.header {
	
}
.header .logo{
	position : absolute;
	left:50px;
	top:34px;
	font-size: 36px;
	color:#c60023;
}

.header .search-con{
	padding:40px 0 30px 250px;
}
.header .search-con .search-input {
	width:550px;
	height:40px;
	line-height: 40px;
	padding-left: 10px;
	font-size: 15px;
	border:2px solid #c60023;
}
.header .search-con .search-btn{
	position: absolute;
	height:44px;
	line-height: 44px;

}